*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
  }

/* navigation bar */

html{
    scroll-behavior: smooth;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(202, 171, 179);
    padding: 18px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navigation .name{
    color: rgb(65, 64, 64);
    letter-spacing: 3px;
    font-size: 23px;
    width: 32%;
}


.navigation .bar{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

  
.navigation .bar a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 6px;
    border-radius: 5px;;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s ease-in;
}

.navigation .bar li a:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(65, 64, 64);
}


/* home section */

.home{
    display: flex;
    background-image: url('img/home\ page.jpg');
    background-size: cover;
    height: 100vh;
}

.home .intro{
    position: relative;
}

.home .intro h1{
    font-size: 70px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 250px;
    left: 60px;
}
 
.home .intro h4{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 280px;
    left: 230px;
}

/* About me section */

.about{
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: rgb(247, 226, 199);
    width: 100%;
}

.about .about_content{
    padding-right: 150px;
    padding-top: 120px;
    float: right;
    text-align: center;
}

.about .about_content .blink{
    font-size: 55px;
    padding-bottom: 30px;
}

/* blinking effect on name */
.blink {
    animation: blink 4s infinite;
}

@keyframes blink{
    0%{
        opacity: 1;
        color: rgb(0, 0, 0);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.about .about_content .home-description{
    font-size: 20px;
    padding-bottom: 45px;
}

.about .about_content .resume .button_me{
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 4px;
    color: rgb(228, 228, 228);
    background-color: #883850;
    transition: 0.2s ease-in;
}

.about .about_content .resume :hover{
    background: #692d3f;
}


.about .about_me_container{
    position: relative;
    max-width: 350px;
    padding-top: 15px;
    margin-left: 130px;
}

.about .about_me_container .image .me{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 350px;
    border-radius: 5px;
}

.about_me_container .image, .about_me_container .image--hidden{
    display: none;
}

.about_me_container .image--visible{
    display: block;
}

.about_me_container .carousel_actions{
    display: flex;
    justify-content: space-between;
    top: 50%;
    position: absolute;
    width: 100%;
}

.about_me_container .carousel_actions button{
    border: none;
    outline: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 40px;
    color: white;
    background-color: #883850;
}

.about_me_container .carousel_actions button:hover{
    background-color: #692d3f;
}

.about_me_container .carousel_actions button#prev{
    margin-left: 15px;
}

.about_me_container .carousel_actions button#next{
    margin-right: 15px;
}




/* skills section */

#skills{
    background-color:#f8e0d9;
    padding-top: 100px;
    padding-bottom: 80px;
}

#skills .title{
    font-size: 38px;
    display: flex;
    justify-content: center;
}

#skills .subtitle{
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

.skills_container{
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-left: 30px;
}

.skills_container .content{
    width: 50%;
    float: left;
    margin-left: 15px;
    line-height: 30px;
}

.skills_container .title1{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 25px;
}

.content .journey{
    font-size: 17px;
    padding-right: 100px;
}

.content .button{
    display: inline-block;
    margin-top: 30px;
}

.button .button_link{
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 4px;
    color: rgb(228, 228, 228);
    background-color: #883850;
    transition: 0.2s ease-in;
}

.button :hover{
    color: #883850;
    background: #e7d0bc;
}


.skills_header .skills_list{
    display: flex;
    flex-direction: column;
    word-spacing: 30px;
    line-height: 1.6;
}

.skills_list .data{
    display: flex;
    justify-content: space-between;
}

.data .skills_num{
    margin-right: 35px;
}

.skills_list .skills_bar {
    background-color: #fff5ea;
    margin-right: 30px;
    margin-bottom: 18px;
    height: 5px;
    border-radius: 3px;
    position: relative;
}

.skills_bar #skills_ai{
    position:absolute;
    height:100%;
    width: 70%;
    background-color: #883850;
    border-radius: 3px;
}

.skills_bar #skills_py{
    position:absolute;
    height:100%;
    width: 65%;
    background-color: #883850;
    border-radius: 3px;
}

.skills_bar #skills_sk{
    position:absolute;
    height:100%;
    width: 85%;
    background-color: #883850;
    border-radius: 3px;
}

.skills_bar #skills_html{
    position:absolute;
    height:100%;
    width: 55%;
    background-color: #883850;
    border-radius: 3px;
}




/* Qualification section */

#qualification{
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: rgb(247, 226, 199);
}

#qualification .title{
    font-size: 38px;
    display: flex;
    justify-content: center;
}

#qualification .subtitle{
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

.container .button_tab{
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 32px;
    padding-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
}

.container .button_tab #cap_icon{
    margin-left: 2px;
}

.container .button_tab #button_edu, #button_work{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 10px;
    background-color:#883850;
    color: white;
    transition: 0.2s ease-in-out;
}


.container .button_tab #button_edu:hover, #button_work:hover{
    color: rgb(240, 235, 235);
    background-color: #572736;

}


#education{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}


#education .content .section{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}


#work {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    display: none;
}

#work .content .section{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

#work .content .section .location .small{
    font-weight: lighter;
    font-size: 18px;
}



/* Contact me section */

#Contact{
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #f8e0d9;
}

.contact_section .title{
    font-size: 38px;
    display: flex;
    justify-content: center;
}

.contact_section .subtitle{
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

.contact_section .contact_info{
    font-size: 20px;
    margin-top: 70px;
    padding-left: 235px;
    float: left;
}


.contact_info .call, .email, .location{
    padding-bottom: 30px;
}

.contact_info .call .contact_subtitle, .email .email_subtitle, .location .locate_subtitle{
    font-size: 17px;
}



.contact_info .call #call_icon, .email #email_icon, .location #map_icon{
    color: #743347;
}



.contact_form {
    padding-top: 40px;
    padding-left: 20px;
}

.contact_form .contact_inputs{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.contact_inputs .contents{
    padding: 20px 24px;
    overflow: hidden;
}

.contact_inputs .contents .sub_content{
    display: flex;
    flex-direction: row;
}

.contact_inputs .contents .sub2_content{
    padding-top: 10px;
    margin-left: 20px;
}

.sub_content .name_s, .email_s{
    padding: 10px 16px;
}

.sub_content .name_s .box, .email_s .box{
    padding: 10px 16px;
    border-radius: 2px;
    border-style: none;
    background-color: #fff2f5;
}


.contents .sub2_content .box{
    padding: 10px 20px;
    border-radius: 2px;
    border-style: none;
    background-color: #fff2f5;
}

.contents .submit_button #button{
    padding: 9px 17px;
    border-radius: 4px;
    border-style: none;
    margin-left: 19px;
    margin-top: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color:#a76075;
}

.contents .submit_button #button:hover{
    background-color:#743347;
}

.contents .submit_button #button.active{
    background-color: #9380b8;
    transition: 1s;
}



/* Footer section */
.footer{
    padding-top: 25px;
    padding-bottom: 45px;
    background-color: rgb(202, 171, 179);
}

.footer .title{
    padding-left: 35px;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.footer .footer_section{
    display: flex;
    justify-content: space-around;
}

.footer .footer_section .footer_links{
    display: flex;
    justify-content: row;
    padding-left: 130px;
}

.footer .footer_links .skills, .quali, .contact{ 
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0px 65px;
}

.footer .footer_links .skills:hover, .quali:hover, .contact:hover{
    color: rgb(65, 64, 64);
}


.footer .footer_section .social_media .footer_social{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0px 20px;
}

.footer .footer_section .social_media .footer_social:hover{
    color: rgb(65, 64, 64);
}


.footer .copy_right{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 14px;
    color: rgb(235, 235, 235);
}

.footer .extra {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.footer .extra .top{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer .extra .top:hover{
    color: rgb(65, 64, 64);
}



/* responsive media queries */
@media (max-width: 947px ){

    .home{
        background-image: url('img/home\ page.jpg');
        background-size: cover;
        overflow: hidden;
    }

    .navigation .bar li a{
        font-size: 13px;
    }

    .navigation .name{
        font-size: 20px;
    }

    .home .intro h1{
        font-size: 60px;
    }

    .home .intro h4{
        font-size: 17px;
    }

    .about{
        padding-bottom: 80px;
    }

    .about .about_content{
        padding: 0px;
        width: 100%;
    }

    .about .about_content .blink{
        font-size: 34px;
        display: flex;
        justify-content: center;
    }

    .about .about_content .home-description{
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }

    .about .about_me_container{
        padding-top: 150px;
        margin: 0 auto 50px;
    }


    .about .about_me_container .image .me{
        max-width: 300px;
        padding-top: 50px;
    }

    .about_me_container .carousel_actions{
        display: flex;
        top: 65%;
        width: 300px;
    }



    #skills{
        overflow-x: hidden;
    }

    #skills .title{
        font-size: 34px;
    }

    #skills .subtitle{
        font-size: 19px;
    }

    .skills_container .content{
        width: 100%;
    }

    .skills_container .content .title1{
        font-size: 24px;
    }

    .skills_container .content .journey{
        font-size: 18px;
    }

    .skills_container .content .button{
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .skills_container .button .button_link{
        padding: 10px 14px;
        font-size: 17px;
    }

    .skills_header .skills_list{
        width: 100%;

    }
    .skills_list .data{
        font-size: 18px;
    }

    #qualification .title{
        font-size: 34px;
    }

    #qualification .subtitle{
        font-size: 19px;
    }

    #work, #education{
        font-size: 18px;
    }

    .contact_section .title{
        font-size: 34px;
    }

    .contact_section .subtitle{
        font-size: 19px;
    }

    .contact_section .contact_info{
        padding-left: 50px;
    }

    .contact_inputs{
        display: flex;
        flex-direction: inherit;
        width: 100%;
    }

    .contact_inputs .contents .sub_content{
        display: flex;
        flex-direction: column;
    }

    .footer .title{
        font-size: 27px;
    }

    .footer .footer_section{
        display: flex;
        flex-direction: column;
    }

    .footer .footer_section .footer_links{
        display: flex;
        flex-direction: column;
        line-height: 50px;
        padding-left: 300px;

    }

    .footer .footer_section .footer_links .social_media{
        float: left;
    }

}




@media (max-width: 600px){

    .navigation .bar li a{
        font-size: 10px;
        word-spacing: 15px;
    }

    .navigation .name{
        font-size: 13px;
    }

    .home .intro h1{
        font-size: 45px;
        left: 20px;
    }

    .home .intro h4{
        font-size: 12px;
        left: 30px;
    }

    .about .about_content .blink{
        font-size: 29px;
    }

    .about .about_content .home-description{
        font-size: 16px;
    }

    .about .about_content .resume .button_me{
        font-size: 16px;
        padding: 12px 13px;
    }

    .about .about_me_container .image .me{
        max-width: 330px;
        padding-top: 50px;
        padding-left: 25px;
    }

    .about_me_container .carousel_actions{
        display: flex;
        top: 63%;
        width: 325px;
        left: 4%;
    }

    #skills .title{
        font-size: 29px;
    }

    #skills .subtitle{
        font-size: 16px;
    }

    .skills_container .content{
        font-size: 15px;
        width: 100%;
    }

    .skills_container .content .title1{
        font-size: 19px;
    }

    .skills_container .content .journey{
        font-size: 16px;
        padding: 0px 0px;
        padding-right: 20px;
    }

    .skills_container .content .button{
        margin-top: 32px;
        margin-bottom: 30px;
    }

    .skills_container .button .button_link{
        padding: 8px 12px;
        font-size: 15px;
    }

    .skills_header .skills_list{
        width: 100%;
    }
    .skills_list .data{
        font-size: 16px;
    }

    #qualification .title{
        font-size: 29px;
    }

    #qualification .subtitle{
        font-size: 16px;
    }

    #work, #education{
        font-size: 17px;
    }

    .contact_section .title{
        font-size: 32px;
    }

    .contact_section .subtitle{
        font-size: 16px;
    }

    .contact_section .contact_info{
        padding-left: 80px;
    }

    .contact_info .call .contact_subtitle, .email .email_subtitle, .location .locate_subtitle{
        font-size: 15px;
    }

    .contact_inputs{
        display: flex;
        flex-direction: inherit;
        width: 100%;
    }

    .contact_inputs .contents .sub_content{
        display: flex;
        flex-direction: column;
    }

    .footer .title{
        font-size: 26px;
    }

    .footer .footer_section{
        display: flex;
        justify-content: flex-start;
    }

    .footer .footer_section .footer_links{
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media (max-width: 400px){

    .navigation .bar li a{
        font-size: 10px;
    }

    .navigation .name{
        font-size: 11px;
    }

    .home .intro h1{
        font-size: 40px;
        left: 20px;
    }

    .home .intro h4{
        font-size: 12px;
        left: 30px;
    }

    .about .about_content .blink{
        font-size: 28px;
    }

    .about .about_content .home-description{
        font-size: 15px;
    }

    .about .about_content .resume .button_me{
        font-size: 15px;
        padding: 9px 10px;
    }

    .about .about_me_container .image .me{
        max-width: 300px;
        padding-top: 50px;
        padding-left: 30px;
    }

    .about_me_container .carousel_actions{
        display: flex;
        top: 68%;
        width: 300px;
        left: 4%;
    }

    #skills .title{
        font-size: 27px;
    }

    #skills .subtitle{
        font-size: 17px;
    }

    .skills_container .content{
        font-size: 13px;
        width: 100%;
    }

    .skills_container .content .title1{
        font-size: 16px;
    }

    .skills_container .content .journey{
        font-size: 15px;
        padding-right: 18px;
        margin-left: 0px;
    }

    .skills_container .content .button{
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .skills_container .button .button_link{
        padding: 7px 10px;
        font-size: 15px;
    }

    .skills_header .skills_list{
        width: 100%;
    }
    .skills_list .data{
        font-size: 14px;
    }

    #qualification .title{
        font-size: 27px;
    }

    #qualification .subtitle{
        font-size: 15px;
    }

    .container .button_tab{
        font-size: 15px;
    }

    #work, #education{
        font-size: 13px;
    }

    .contact_section .title{
        font-size: 27px;
    }

    .contact_section .subtitle{
        font-size: 15px;
    }

    .contact_section .contact_info{
        font-size: 16px;
    }

    .contact_info .call .contact_subtitle, .email .email_subtitle, .location .locate_subtitle{
        font-size: 13px;
    }

    .contact_inputs{
        display: flex;
        flex-direction: inherit;
        width: 100%;
    }

    .contact_inputs .contents .sub_content{
        display: flex;
        flex-direction: column;
    }

    .sub_content .name_s .box, .email_s .box{
        width: 100%;
    }

    .contents .sub2_content .box{
        width: 100%;
    }

    .footer .title{
        font-size: 24px;
    }

    .footer .footer_section{
        display: flex;
        justify-content: flex-start;
    }

    .footer .footer_section .footer_links{
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
